html
  head
    title='Hello Tony'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello World!!!
        p Just another day in...
        p 
          My Fancy Button
        p
