html
  head
    title='Hello Alex'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello ALEX!!!
        p Just another day in...
        p 
          My Fancy Button
        p
